<h1>User Support</h1>
 <h2>Service Inquiries and Requests</h2>
 <p>
I've got nothing for you. You're clearly not very bright if you need to consult something so banal as a help page on a web app. Unix man, pages now that's a real person's help option.
 </p>